html {
    height: 100%;
}
body {
    min-height: 100%;
    overflow-x: hidden;
}

.landing {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.landing img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* opacity: 0.7; */
}

.background {
    position: absolute;
    opacity: 0.7;
    height: 100%;
    width: 100vw;
    object-fit: cover;
    z-index: -5;
}

.home-invitation {
    color: rgb(29, 98, 50);
    margin-left: 38%;
    padding-top:7%;
}

.home-invitation h1 {
    margin-top: 5%;
    margin-bottom: 7%;
    font-family: "Playwrite CU", cursive;
}

.font-playwrite {
    font-family: "Playwrite CU", cursive;
}

.line {
    background-color: black;
    width: 0.2rem;
    height: 4rem;
    margin-top: 2%;
    margin-bottom: 3%;
}

/* .section {
    width: 100vw;
    height: 100%;
} */

#gallery {
    /* padding-top:6%; */
    position: relative;
    width: 100vw;
    height: 100%;
    background-image: url('./images/gallery-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#time-place {
    position: relative;
    margin-bottom: -100px;
    z-index: -8;
    background-color: beige;
    width: 100vw;
    height: 100%;
}

.title {
    padding-top: 8%;
}

.photos {
    width: 80%;
    gap:2%;
}

.fixed-bg {
    margin-top: 4.45%;
    height: 400vh;
    /* position: fixed; */
    /* z-index: 1; */
}

#about {
    padding-top: 10%;
    position: relative;
    z-index: 10;
    top:35%;
    width: 100vw;
    /* height: 100%; */
}

#wishes {
    position: relative;
    height: 100%;
}
#about .card {
    /* position: absolute; */
    width: 80%;
    border-radius: 13px;
    border: 5px solid rgb(205, 187, 82);
    padding: 10px 10px 10px 10px;
    /* box-shadow: 2px 0 gray; */
}


.about-bg img {
    border-bottom: 5px solid rgb(205, 187, 82);
}

.about-line {
    /* position: absolute; */
    /* top:100%; */
    width: 100vw;
    height: 7px;
    background-color: rgb(205, 187, 82);
    z-index: -3;
}

.bawah-about {
    width: 100vw;
    height: 250px;
    z-index: -3;
    background-color: beige;
}

.nav-link {
    font-size: medium;
    font-weight: 800;
    color: white;
    -webkit-text-stroke: 2px black;
}

.nav-link:hover {
    font-size: large;
    font-weight: 900;
    color: yellow;
    transition: 1s ease-in;
}

.border-about {
    width: 200px; /* Sesuaikan ukuran sesuai kebutuhan */
    height: 200px; /* Sesuaikan ukuran sesuai kebutuhan */
    /* border-radius: 50%; */
    overflow: hidden; /* Pastikan gambar yang keluar dari area div tersembunyi */
    display: flex;
    align-items: center;
    justify-content: center;
}


.bride {
    background-image: url('./images/bride.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.groom {
    background-image: url('./images/groom.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.about-heart{
    background-image: url('./images/icons8-heart.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.border-about img {
    margin-bottom: 16px;
    width: 130%;
    height: 130%;
    object-fit: cover;
}

.img1 {
    z-index: 5;
}

.img2 {
    z-index: 3;
}

.bride-groom h4 {
    margin-top: 5%;
}

.about-heart img {
    margin-top: 5%;
    width: 5%;
}

.maps {
    width: 350px;
    height: 150px;
}

.container-tp {
    width: 80%;
    padding-bottom: 5%;
    margin-bottom: 6%;     
}




.box-tp {
    position: relative;
    width: 600px;
    height: 650px;
    background-image: url('./images/frame-tp.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 10.5%;
}

.box-tp .content-tp {
    position: absolute;
    top: 0;
    left: 50;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-tp .icon-tp {
    width: 100%;
    margin-top: 2%;
    color: brown;
}

.icon-tp ion-icon {
    margin-right: 3%;
}

.countdown {
    position: relative;
    width: 100vw;
    height: 80vh;
    color: black;
}

.countdown-text {
    padding-top: 15%;
}

.countdown img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -20;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
/* .countdown-bg {
    top: 265%;

} */

#countdown-timer {
    margin-top: 3%;
}

.container-wishes {
    width: 80%;
}
.wishes-container {
    width: 100%;
}

.card-wish {
    position: relative;
    margin: 20px 0;
    width: 350px;
    height: 350px;
    background: wheat;
    border: none;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: ease-in-out 0.5s;
    border-radius: 0;
    box-shadow: inset 300px 0 50px rgba(0,0,0,0.25);
}

.card-wish:active {
    transform: perspective(2000px);
    box-shadow: inset 20px 0 50px rgba(0,0,0,0.25);
    z-index: 1000;
}

.card-wish .img-box {
    position: relative;
    border-style: none;
    width: 103.5%;
    height: 100%;
    transform-origin: left;
    z-index: 1;
    transition: 0.5s;
    /* object-fit: cover; */
}

.card-wish:active .img-box {
    transform: rotateY(-120deg);
}

.card-wish .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: beige;
    object-fit: cover;
}

.card-wish .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 20px 20px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.column {
    gap:2%;
}

@media (max-width: 480px) {
    .home-invitation {
        background-color: rgba(248, 222, 255, 0.25);
        padding: 20px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-tp {
        width: 100%;
    }

    .container-tp {
        flex-direction: column;
    }

    .maps {
        height: 200px;
    }
    .flex-about{
        flex-direction: column;
    }
    .landing img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .background {
        height: 100%;
        width: 100vw;
        object-fit: cover;
        z-index: -5;
    }
    #gallery {
        /* padding-top:6%; */
        width: 100vw;
        height: 100%;
        background-image: url('./images/gallery-bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #time-place {
        padding-top: 500px;
        z-index: -8;
        background-color: beige;
        height: 100%;
        width: 100vw;
        position: relative;
    }
    .box-tp {
        width: 350px;
        height: 450px;
    }
    .content-tp h1 {
        font-size: 1.5rem;
    }

    .icon-tp p {
        font-size: 0.8rem;
    }

    ion-icon {
        font-size: 12px;
    }

    .maps {
        width: 270px;
        height: 130px;
    }
    .card {
        width: 90%;
        /* height: 60%; */
        border-radius: 13px;
        border: 5px solid rgb(205, 187, 82);
        padding: 0.5vw;
        /* box-shadow: 2px 0 gray; */
    }
    

    .about-line {
        width: 100vw;
        height: 7px;
        background-color: rgb(205, 187, 82);
        z-index: -3;
    }
    .countdown {
        /* font-size: smaller; */
        width: 100vw;
        height: 50%;
        padding-top: 33%;
        color: black;
    }

    .countdown-text h1 {
        font-size: 1.5rem;
    }

    #countdown-timer {
        font-size: 0.5rem;
    }
    .card-wish .img-box img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: beige;
        object-fit: cover;
    }
    
    .card-wish .details {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 50px 20px 20px;
    }

}
